*{
    padding: 0;/*apply to all*/
    margin: 0;
}

body{/*entire background image*/
    background-size: cover;
}


table{
    float: left;
    margin-left: 180px;
    margin-top: 100px;
    text-align: center;
}

td{
    border: 1px solid black;
   
}
#td1{
    width: 70px;
}
#td2{
    width: 70px;
}

#td3{
    width: 900px;
}




header{
    background-color: rgb(175, 47, 90);
    height: 5em;/*height of header*/
}

.head-tag{
    float: right;/*to make the content to move to right*/
    margin-top: 44px;
    margin-right: 20px;
    word-spacing: 3px;
}

.head-tag a{/*for the nav content*/
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: rgb(219, 202, 213);
    border: 1px solid rgb(236, 199, 222);
    border-radius: 8px;
    margin-right: 8px;
    padding: 8px;
}
.head-tag a:hover{
    background-color: rgb(236, 199, 222) ;
    color: rgb(175, 47, 90);
    transition: 0.5s ease-in-out;
}
.sidebar{/*for aside content*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;
    color: rgb(88, 9, 46);
    padding: 80px;
}
.sidebar li{/*list in aside content*/
    list-style: square;
    margin-bottom: 5px;
}




.login{
    float: left;
    width: 25%;
    border: 1px solid rgb(185, 60, 108);
    margin-left: 40%;
    margin-top: 20px;
    padding: 20px;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    background-color: rgb(190, 60, 82);
    font-family: 'Abel', sans-serif;
}